Repository BitcoinUnlimited/BitcoinUnlimited, pull requests merged in 2018-12, with the labels that each got.

#1426 Improve Graphene decode rates by padding IBLT
  src/blockrelay/graphene.cpp
  src/blockrelay/graphene.h
  src/blockrelay/graphene_set.cpp
  src/blockrelay/graphene_set.h
  src/test/graphene_tests.cpp
  src/test/test_bitcoin_fuzzy.cpp
Labels: P2P

#1522 Graphene specification v1.0
  doc/graphene-specificatin-v1.mediawiki
Labels: DOC

#1440 Store mempool to mempool.dat on shutdown
  doc/files.md
  qa/pull-tester/rpc-tests.py
  qa/rpc-tests/mempool_persist.py
  src/allowed_args.cpp
  src/init.cpp
  src/main.cpp
  src/main.h
  src/qt/bitcoin.cpp
  src/rpc/blockchain.cpp
  src/rpc/rawtransaction.cpp
  src/txadmission.cpp
  src/txadmission.h
  src/txmempool.cpp
  src/txmempool.h
  src/validation/validation.cpp
Labels: ported

#1529 ppa update
  doc/build-unix.md
Labels: DOC
